# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


# Visual Studio specific ignore files
*.suo

bin/
obj/

*.user

# LLVMSharp Specific ignore files
*.Parser.cs*
*.Scanner.cs*

TestResults/

_ReSharper.*/



*.swp
*.orig
